html {
  --dark-mode-body-bg: hsl(231, 15%, 18%) !important;
  --dark-mode-border-color: #595b64 !important;
}

.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

ul, ol {
  padding-left: 40px;
}

pre {
  margin-right: 0;
  margin-left: 0;
}

.post-date {
  height: auto;
  min-height: 2rem;
  &>.ellipsis {
    overflow: visible;
    white-space: wrap;
  }
}

div.highlight>.pre-header {
  margin-left: 0;
  margin-right: 0;
}

div.highlight>button {
  right: 0;
}